[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git

[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c.git

[submodule "tools/maspsx"]
	path = tools/maspsx
	url = https://github.com/mkst/maspsx.git
[submodule "custom-tools/MGUI"]
	path = custom-tools/MGUI
	url = https://github.com/xcasadio/MGUI.git
	branch = develop
