# DBZ Legends Decompilation - Python requirements

# Splat - PSX binary splitter/disassembler
splat64>=0.34.0

# MIPS disassembler
spimdisasm>=1.35.0
rabbitizer

# Utilities
colorama
watchdog
levenshtein
cxxfilt

# Configuration
pyyaml
pycparser
